<h2>Recipe Name: <%=@recipe.name%><h2>
  <p>Recipe Ingredients: <%=@recipe.ingredients%></p>
  <h2> Recipe Cook Time: <%=@recipe.cook_time%> minutes</h2>
<form action='/recipes/<%=@recipe.id%>' method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
Recipe Name: <input type="text" name="name">
<br>
Recipe Ingredients: <input type="text" name="ingredients">
<br>
Recipe Cook Time: <input type="text" name="cook_time">
<br>
<input type="submit" value="submit">
</form> 