<html>
  <body>
     <form method="POST" action="/recipes/<%=@recipe.id%>">
   <h2>Recipe Name: <%=@recipe.name%><h2>
  <p>Recipe Ingredients: <%=@recipe.ingredients%></p>
  <h2> Recipe Cook Time: <%=@recipe.cook_time%> minutes</h2>
   <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
 </form>

 



   
  </body>
</html>